# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencie# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
node_modules/

/.pnp
.pnp.js

# testing
/coverage

# production
/build
build.zip
/frontend/build

# folders
Procfile
pension and paye data requirement.txt
salarystructure.txt
upayroll-frontend.zip
UPayrollWeb.test2.zip

# misc
# .env
# .env.development.local
# .env.production.local
.DS_Store
.env.local
.env.test.locals

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dump.rdb

